mixin upper_body(active_class)
  include commons/header-top.html
  include commons/mobile-menu-area.html
  include commons/main-menu-area.pug
  +main_menu(active_class)
  include commons/breadcomb-area.html

doctype html
html(class="no-js" lang="")

include commons/head.html

body
  block upper_content
    +upper_body("home")

  block main_content
    .normal-table-area
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .normal-table-list
              .basic-tb-hd
                h2 Basic Table
                p Basic example without any additional modification classes
              .bsc-tbl
                table.table.table-sc-ex
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                      th Nickname
                  tbody
                    tr
                      td 1
                      td Alexandra
                      td Christopher
                      td @makinton
                      td Ducky
                    tr
                      td 2
                      td Madeleine
                      td Hollaway
                      td @hollway
                      td Cheese
                    tr
                      td 3
                      td Sebastian
                      td Johnston
                      td @sebastian
                      td Jaycee
                    tr
                      td 4
                      td Mitchell
                      td Christin
                      td @mitchell4u
                      td AdskiDeAnus
                    tr
                      td 5
                      td Elizabeth
                      td Belkitt
                      td @belkitt
                      td Goat
                    tr
                      td 6
                      td Benjamin
                      td Parnell
                      td @wayne234
                      td Pokie
                    tr
                      td 7
                      td Katherine
                      td Buckland
                      td @anitabelle
                      td Wokie
                    tr
                      td 8
                      td Nicholas
                      td Walmart
                      td @mwalmart
                      td Spike
        
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .normal-table-list.mg-t-30
              .basic-tb-hd
                h2 Striped rows
                p
                  | Add Classes (
                  code .table-striped
                  | ) to any table row within the tbody
              .bsc-tbl-st
                table.table.table-striped
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                      th Nickname
                  tbody
                    tr
                      td 1
                      td Alexandra
                      td Christopher
                      td @makinton
                      td Ducky
                    tr
                      td 2
                      td Madeleine
                      td Hollaway
                      td @hollway
                      td Cheese
                    tr
                      td 3
                      td Sebastian
                      td Johnston
                      td @sebastian
                      td Jaycee
                    tr
                      td 4
                      td Mitchell
                      td Christin
                      td @mitchell4u
                      td AdskiDeAnus
                    tr
                      td 5
                      td Elizabeth
                      td Belkitt
                      td @belkitt
                      td Goat
                    tr
                      td 6
                      td Benjamin
                      td Parnell
                      td @wayne234
                      td Pokie
                    tr
                      td 7
                      td Katherine
                      td Buckland
                      td @anitabelle
                      td Wokie
                    tr
                      td 8
                      td Nicholas
                      td Walmart
                      td @mwalmart
                      td Spike
        
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .normal-table-list.mg-t-30
              .basic-tb-hd
                h2 Bordered table
                p
                  | Tables with borders on all possible sides of the Table and Cells (
                  code .table-bordered
                  | ).
              .bsc-tbl-bdr
                table.table.table-bordered
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                      th Nickname
                  tbody
                    tr
                      td 1
                      td Alexandra
                      td Christopher
                      td @makinton
                      td Ducky
                    tr
                      td 2
                      td Madeleine
                      td Hollaway
                      td @hollway
                      td Cheese
                    tr
                      td 3
                      td Sebastian
                      td Johnston
                      td @sebastian
                      td Jaycee
                    tr
                      td 4
                      td Mitchell
                      td Christin
                      td @mitchell4u
                      td AdskiDeAnus
                    tr
                      td 5
                      td Elizabeth
                      td Belkitt
                      td @belkitt
                      td Goat
                    tr
                      td 6
                      td Benjamin
                      td Parnell
                      td @wayne234
                      td Pokie
                    tr
                      td 7
                      td Katherine
                      td Buckland
                      td @anitabelle
                      td Wokie
                    tr
                      td 8
                      td Nicholas
                      td Walmart
                      td @mwalmart
                      td Spike
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .normal-table-list.mg-t-30
              .basic-tb-hd
                h2 Hover Row
                p
                  | Enable a hover state (
                  code .table-hover
                  | ) on table rows within a tbody
              .bsc-tbl-hvr
                table.table.table-hover
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                      th Nickname
                  tbody
                    tr
                      td 1
                      td Alexandra
                      td Christopher
                      td @makinton
                      td Ducky
                    tr
                      td 2
                      td Madeleine
                      td Hollaway
                      td @hollway
                      td Cheese
                    tr
                      td 3
                      td Sebastian
                      td Johnston
                      td @sebastian
                      td Jaycee
                    tr
                      td 4
                      td Mitchell
                      td Christin
                      td @mitchell4u
                      td AdskiDeAnus
                    tr
                      td 5
                      td Elizabeth
                      td Belkitt
                      td @belkitt
                      td Goat
                    tr
                      td 6
                      td Benjamin
                      td Parnell
                      td @wayne234
                      td Pokie
                    tr
                      td 7
                      td Katherine
                      td Buckland
                      td @anitabelle
                      td Wokie
                    tr
                      td 8
                      td Nicholas
                      td Walmart
                      td @mwalmart
                      td Spike
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .normal-table-list.mg-t-30
              .basic-tb-hd
                h2 Table Condensed
                p
                  | Make tables more compact by cutting cell padding in half (
                  code .table-condensed
                  | ).
              .bsc-tbl-cds
                table.table.table-condensed
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                      th Nickname
                  tbody
                    tr
                      td 1
                      td Alexandra
                      td Christopher
                      td @makinton
                      td Ducky
                    tr
                      td 2
                      td Madeleine
                      td Hollaway
                      td @hollway
                      td Cheese
                    tr
                      td 3
                      td Sebastian
                      td Johnston
                      td @sebastian
                      td Jaycee
                    tr
                      td 4
                      td Mitchell
                      td Christin
                      td @mitchell4u
                      td AdskiDeAnus
                    tr
                      td 5
                      td Elizabeth
                      td Belkitt
                      td @belkitt
                      td Goat
                    tr
                      td 6
                      td Benjamin
                      td Parnell
                      td @wayne234
                      td Pokie
                    tr
                      td 7
                      td Katherine
                      td Buckland
                      td @anitabelle
                      td Wokie
                    tr
                      td 8
                      td Nicholas
                      td Walmart
                      td @mwalmart
                      td Spike
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .normal-table-list.mg-t-30
              .basic-tb-hd
                h2 Contextual classes
                p
                  | Use contextual classes (
                  code .info, .warning, .success, .danger
                  | ) to color table rows or individual cells.
              .bsc-tbl-cls
                table.table.table-cl
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                      th Nickname
                  tbody
                    tr.active
                      td 1
                      td Alexandra
                      td Christopher
                      td @makinton
                      td Ducky
                    tr.info
                      td 3
                      td Sebastian
                      td Johnston
                      td @sebastian
                      td Jaycee
                    tr.warning
                      td 4
                      td Mitchell
                      td Christin
                      td @mitchell4u
                      td AdskiDeAnus
                    tr.success
                      td 2
                      td Madeleine
                      td Hollaway
                      td @hollway
                      td Cheese
                    tr.danger
                      td 5
                      td Elizabeth
                      td Belkitt
                      td @belkitt
                      td Goat

  include commons/footer.html
  include commons/scripts.html
  block extraScripts