extends ../base.pug

block content
  .row
    .col-sm-6
      form(method="POST" enctype="multipart/form-data")
        .card
          .card-header
            strong Edit User Baru
          .card-body
            .form-group
              label Nama
              input.form-control(type='text' name='nama' value= user.nama)
            .form-group
              label Username
              input.form-control(type='text' name='username' value= user.username)
            .form-group
              label Password Lama
              input.form-control(type='password' name='password_lama')
            .form-group
              label Password Baru
              input.form-control(type='password' name='password_baru')
            .form-group
              label Ulangi Password Baru
              input.form-control(type='password' name='password_baru')

          .card-footer
            button.btn.btn-sm.btn-primary(type='submit').mr-4
              i.fa.fa-dot-circle-o
              |  Submit
            button.btn.btn-sm.btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
