extends ../base.pug

block content
  .row
    .col-md-12
      div.display-4 Data User
      h3.py-4 Total data #{items.length}
        a.btn.btn-lg.btn-primary.ml-4(href="/app/user/add") Tambah
      .card
        .card-body
          table.table.table-responsive-sm
            thead
              tr
                th ID
                th Nama
                th Username
                th
                
            tbody
              each user in items
                tr
                  td #{user.id}
                  td #{user.nama}
                  td #{user.username}
                  td
                    .btn-group(role='group' aria-label='Basic example')
                      a.btn.btn-sm.btn-primary(href='/app/user/edit/' + user.id) Edit
                      a.btn.btn-sm.btn-danger(href='/app/user/delete/' + user.id) Hapus