<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/app">
          <i class="nav-icon icon-speedometer"></i> Dashboard
          <span class="badge badge-primary">NEW</span>
        </a>
      </li>
      <li class="nav-title">Master</li>
      <li class="nav-item">
        <a class="nav-link" href="/app/data/list">
          <i class="nav-icon icon-drop"></i>Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/user/list">
          <i class="nav-icon icon-drop"></i>User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/import">
          <i class="nav-icon icon-pencil"></i>Import</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/rank/form">
          <i class="nav-icon icon-pencil"></i>Rank</a>
      </li>
      <li class="nav-title">Testing</li>
      <li class="nav-item">
        <a class="nav-link" href="/app/testing">
          <i class="nav-icon icon-pencil"></i>Pengujian</a>
      </li>
      <li class="nav-item mt-auto">
        <a class="nav-link nav-link-success" href="https://coreui.io" target="_top">
          <i class="nav-icon icon-cloud-download"></i> About Me</a>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>