include commons/head.html

// ================ Header Menu Area start =================
header.header_area
  .main_menu
    nav.navbar.navbar-expand-lg.navbar-light
      .container.box_1620
        a.navbar-brand.logo_h(href='index.html')
          img(src='/landing/img/logo.png' alt)
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .collapse.navbar-collapse.offset#navbarSupportedContent
          ul.nav.navbar-nav.menu_nav.justify-content-end
            li.nav-item.active
              a.nav-link(href='index.html') Home
          .nav-right.text-center.text-lg-right.py-4.py-lg-0
            a.button.button-outline.button-small(href='/login#login-pane') Login
// ================Header Menu Area =================
// ================ Banner Section start =================
section.hero-banner.text-center
  .container
    p.text-uppercase Sistem Pendukung Keputusan
    h1 Penentuan Gizi Buruk
    h2(style="color: white") Puskesmas Tetaf, Kec. Kuatnana, Kab. TTS, NTT
// ================ Banner Section end =================
// ================ Domain Search section start =================
footer.footer-area.section-gap
  .container
    .row
      .col-xl-3.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 About Us
        p Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing days open
        a.navbar-brand.logo_h.d-none.d-xl-block(href='index.html')
          img(src='img/logo.png' alt)
      .col-xl-3.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Contact Info
        ul
          li Address: Your address goes here, your demo address.
          li
            a(href='tel:+88044338899') Phone: +880 44338899
          li
            a(href='mailto:info@colorlib.com') Email: info@colorlib.com
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Important Link
        ul
          li
            a(href='#') WHMCS-bridge
          li
            a(href='#') Search Domain
          li
            a(href='#') My Account
          li
            a(href='#') Shopping Cart
          li
            a(href='#') Our Shop
      .offset-xl-1.col-xl-3.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Newsletter
        p Heaven fruitful doesn't over lesser in days. Appear creeping seasons deve behold bearing days open
        .form-wrap#mc_embed_signup
          form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
            .input-group
              input.form-control(type='email' name='EMAIL' placeholder='Your Email Address' onfocus='this.placeholder = \'\'' onblur='this.placeholder = \'Your Email Address \'')
              .input-group-append
                button.btn.click-btn(type='submit')
                  i.ti-arrow-right
            div(style='position: absolute; left: -5000px;')
              input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' type='text')
            .info
    .footer-bottom.row.align-items-center.text-center.text-lg-left
      p.footer-text.m-0.col-lg-8.col-md-12
        //  Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
        | Copyright ©
        script document.write(new Date().getFullYear());
        | All rights reserved | This template is made with 
        i.ti-heart(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com' target='_blank') Colorlib
        //  Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
      .col-lg-4.col-md-12.text-center.text-lg-right.footer-social
        a(href='#')
          i.ti-facebook
        a(href='#')
          i.ti-twitter-alt
        a(href='#')
          i.ti-dribbble
        a(href='#')
          i.ti-linkedin

include commons/bottom.html