include commons/head.html

body.app.header-fixed.sidebar-fixed.aside-menu-fixed.sidebar-lg-show
  include commons/header.html

  .app-body
  
    include commons/sidebar.html

    main.main
      //  Breadcrumb
      ol.breadcrumb
        li.breadcrumb-item Home
        li.breadcrumb-item
          a(href='#') Admin
        li.breadcrumb-item.active Dashboard
      .container-fluid
        .animated.fadeIn
          block content

  include commons/footer.html
  include commons/scripts.html
  block customScripts