extends ../base.pug

block upper_content
  +upper_body("alternatif")

block main_content
  .normal-table-area
      .container
        .row
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .normal-table-list.mg-t-30
              .basic-tb-hd
                h2 Striped rows
                p
                  | Add Classes (
                  code .table-striped
                  | ) to any table row within the tbody
              .bsc-tbl-st
                table.table.table-striped
                  thead
                    tr
                      th #
                      th First Name
                      th Last Name
                      th Username
                      th Nickname
                  tbody
                    tr
                      td 1
                      td Alexandra
                      td Christopher
                      td @makinton
                      td Ducky
                    tr
                      td 2
                      td Madeleine
                      td Hollaway
                      td @hollway
                      td Cheese
                    tr
                      td 3
                      td Sebastian
                      td Johnston
                      td @sebastian
                      td Jaycee
                    tr
                      td 4
                      td Mitchell
                      td Christin
                      td @mitchell4u
                      td AdskiDeAnus
                    tr
                      td 5
                      td Elizabeth
                      td Belkitt
                      td @belkitt
                      td Goat
                    tr
                      td 6
                      td Benjamin
                      td Parnell
                      td @wayne234
                      td Pokie
                    tr
                      td 7
                      td Katherine
                      td Buckland
                      td @anitabelle
                      td Wokie
                    tr
                      td 8
                      td Nicholas
                      td Walmart
                      td @mwalmart
                      td Spike
        