extends ../base.pug

block content
  .row
    .col-sm-6
      form(method="POST" enctype="multipart/form-data")
        .card
          .card-header
            strong Input Data Balita
          .card-body
            .form-group
              label Nama
              input.form-control(type='text' name='nama')
            .form-group
              label Tanggal Lahir
              input.form-control(type='date' name='tanggalLahir')
            .form-group
              label Berat Badan
              input.form-control(type='number' min='0' max='1000' step="0.01" name='beratBadan')
            .form-group
              label Tinggi Badan
              input.form-control(type='number' min='0' max='1000' step="0.01" name='tinggiBadan')
            .form-group.row
              label.col-md-3.col-form-label Jenis Kelamin
              .col-md-9.col-form-label

                .form-check.form-check-inline.mr-1
                  input.form-check-input#sex_laki_laki(type='radio' value='LAKI_LAKI' name='sex')
                  label.form-check-label(for='sex_laki_laki') Laki - Laki

                .form-check.form-check-inline.mr-1
                  input.form-check-input#sex_perempuan(type='radio' value='PEREMPUAN' name='sex')
                  label.form-check-label(for='sex_perempuan') Perempuan

          .card-footer
            button.btn.btn-sm.btn-primary(type='submit').mr-4
              i.fa.fa-dot-circle-o
              |  Submit
            button.btn.btn-sm.btn-danger(type='reset')
              i.fa.fa-ban
              |  Reset
